html {
  scroll-behavior: smooth;
}

.container{
  margin-top: 13vh;
}
 
 #about {
    position: relative;
    justify-content: center; 
    /* border: rgb(56, 159, 109) 0.1rem solid; */
    height: 100vh;
    margin-top: 60px;
  } 
  
  .about-details-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    /* border: rgb(64, 159, 56) 0.1rem solid; */
    text-align: center;

  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .section-container {
    display: grid;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    grid-template-columns: repeat(3, auto);
    column-gap: 4em;
    /* border: rgb(53, 53, 53) 0.1rem solid; */
    align-items: center;
    margin-bottom: 50px;
  }
  
  .pic-container {
    display: flex;
    height: 330px;
    width: 330px;
    margin: auto 0;
  }

  .section-text-p1{
    text-align: center;
  }

  .title{
    text-align: center;
    margin-bottom: 40px;
  }

  .outer-section-container{
    position: relative;
    width: 100%;

    /* border: rgb(157, 70, 70) 0.1rem solid; */
  }

  .bold{
    font-weight: 900;
  }
  
  .text-container{
    line-height: 1.6;
  }