#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* border: rgba(255, 251, 25, 0.994) 0.1rem solid; */
    height: 80vh;
    /* border: rgb(56, 159, 109) 0.1rem solid; */
  }
  
  .pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    
  }

  .pic-container__img{
    border-radius: 50%;
  }
  
  .text-container {
    align-self: center;
    text-align: center;
    /* border: rgba(0, 0, 0, 0.994) 0.1rem solid; */
  }
  
  .pic-container p {
    font-weight: 600;
  }
  
  .text-container__p1 {
    text-align: center;
  }
  
  .text-container__p2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    
  }
  
  .text-container__title {
    font-size: 3rem;
    text-align: center;
  }

  .btn-container{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 1em;
  }

  /* .btn-info{
    margin-right: 2rem
  } */
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .fa-bars {
    /* color: #000; */
    font-size: 4rem;

  }

  .socials-container__icons:hover{
    cursor: pointer;
  }

  .socials-container__icons{
    color: black;
  }